
body 
{
    position:relative;
    padding:0;
    margin:0;
    font-family:Arial, Verdana;
    background:#000;    
    font-size:75%;
}
div.contentContainer
{
    
    padding:10px 19px 31px;
    background:url("/assets/images/bgPageBackground.png") repeat-y;
    
    /* CSS3 Background gradients */
    background-image: -webkit-gradient(linear,30% bottom,70% bottom,color-stop(0, #28518E),color-stop(1, #E12447));
    background-image: -moz-linear-gradient(40% center,#28518E 0%,#E12447 100%);
}

/*
    ASSETS
*/
h1
{
    width:310px;
    float:right;
    height:94px;
    margin:0 -19px 0 0;
    padding:0;
    background:url("/assets/images/sprMain.png") no-repeat right 0;
    text-indent:-99999em;
    position:relative;
    z-index:99;
}
h2,
h3
{
    color:#FFF;    
    font-weight:lighter;
    font-size:1.5em;
    margin:3px 0 12px;
    clear:both;
}
h3{color:#286cb4;}
a{color:#FFF;text-decoration: none;}
a.large,
h3
{
    color: #286CB4;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1em;
    margin: 3px 0;
    text-decoration: none;
}
ul{margin:0;}
ul li{margin-top:3px;}

/*
    FORMS
*/
input[type="text"]
{
    border:0;
    width:100%;
    padding:3px;
    color:#999;
    border-radius:4px;
}
input[type="submit"]
{
    margin-right:15px;
    background:#EEC200;
    border:0;
    padding:2px 10px;
    border-radius:4px;
    font-weight:bold;
    float:left;
    -webkit-appearance: none;
}
input[type="radio"]
{
}
label
{
}

/* NAVIGATION */
ul.buttons
{
    list-style:none;
    padding:0;
    margin:0;
}
ul.buttons li
{
    border-radius:4px;
    padding-bottom:1px;
    background:#000;
    margin:0;
}
ul.buttons li:first-child{margin-top:0;}
ul.buttons li > a
{
    background:url("/assets/images/sprMain.png") 0 -100px repeat-x;
    display:block;
    color:#FFF; 
    padding:8px 3px 3px;
    margin-top:4px;
    font-size:1.5em;
    border-radius:4px;
    cursor:pointer;
}
ul.buttons li > a img
{
    vertical-align:middle;
    margin:0 7px 5px 4px;
}
ul.buttons.jsAccordion li > a span
{
    float:right;
    font-size:1.5em;
    font-weight:bold; 
    display:block;
    width:20px;
    height:38px; 
    margin-right:7px;
    background:url("/assets/images/sprMain.png") no-repeat right -438px;
}
ul.buttons.jsAccordion li > a span.contract{background-position:right -398px;}
ul.buttons li > ul,
ul.buttons li > ul li,
ul.buttons li > ul li a
{   
    color:#369;
    margin:0;
    padding:0;
}
ul.buttons li > ul
{
    margin:0 3px 2px;
    list-style:none;
    background:#FFF; 
    font-size:1.4em;
    font-weight:bold;
}
ul.buttons li > ul li
{
    margin:0 6px;
    border-bottom:1px solid #999;
    border-radius:0;
    background:#FFF; 
}
ul.buttons li > ul li a
{
    padding:8px 0;
    font-size:1em;
    background:none;
    text-decoration:none;
}
ul.buttons li ul li:last-child
{
  border:0;
}

ul.articles 
{ 
  padding:0;
  margin:0;
}

ul.articles li
{
  list-style: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
}

ul.articles li:last-child
{
  border-bottom: none;
  margin-bottom:none;
}

ul.articles li a
{
  color:#286CB4;    
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  clear:both;
}

ul.articles li p
{
  margin:0px 0px 10px 0px;
}
/* SEARCH */
div#search
{
    border-radius:4px;
    background:rgba(0, 0, 0, 0.4);
    margin-top:5px;
    padding:7px 70px 7px 7px;
    box-shadow:-1px 1px 3px -1px #111;
    white-space:nowrap;buttibs
}
div#search input[type="submit"]
{
    float:right;
    margin-right: -55px;
}

/*
    FOOTER
*/
div#footer{margin-top:-24px;}
div#footer p.strapLine
{
    background:rgba(0, 0, 0, 0.3);
    margin:0;
    padding:5px 0;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
span.drinkAware
{
    display:inline-block;
    height:17px;
    width:124px;
    text-indent:-999em;
    background:url("/assets/images/sprMain.png") 0 -206px no-repeat;    
}
ul.nav
{
    margin:0;
    padding:0;
    color:#FFF;
    overflow:hidden;
    list-style:none;
    border-top:1px solid #545658;
}
ul.nav li
{
    float:left;
    width:32.5%;
    text-align:center;
    border-right:solid 1px #545658;
    border-bottom:solid 1px #303030;
    padding:4px 0;
    margin:0;
    background:url("/assets/images/sprMain.png") 0 -176px repeat-x;
}
ul.nav li+li
{
    border-left:1px solid #000;
    border-right:solid 1px #545658;
}
ul.nav li+li+li
{    
    border-left:1px solid #000;
    border-right:0;
}
ul.nav li a
{
    display:block;    
    text-decoration:none;
    font-weight:bold;
}
ul.nav li a span
{
    width:13px;
    height:13px;
    display:inline-block;
    background:url("/assets/images/sprMain.png") 3px -225px no-repeat;
    margin:0 5px -2px 0;
}
ul.nav li:nth-child(2) a span{background:url("/assets/images/sprMain.png") 0 -247px no-repeat;}
div#footer ul
{
    padding-left:19px;
    font-size:0.9em;
    list-style-image:url("/assets/images/bltSquare.png");    
}
div#footer ul li{margin-bottom:5px;}
p.reg
{
    font-size:0.8em;
    color:#FFF;
    margin:5px 0 0 8px; 
       
}

/*
    HOME
*/

h2.home { margin:12px 0 12px; }

ul.first-home { margin-top: 100px;}

ul.homeFeed
{
    clear:both;    
    background:#FFF;
    color:#666;
    padding:20px 0 0;
    margin:0 0 -20px;
    top:-25px;
    position:relative;
    border-radius:4px;
    list-style:none;
}
ul.homeFeed li
{
    margin:5px 9px 10px;
    padding:0;    
    border-bottom:1px solid #f3f3f3;
}
ul.homeFeed li p{margin:0;}
ul.homeFeed li h2
{
    color:#369;
    font-weight:bold;
    font-size:1.3em;
    margin:0 0 4px;
}
ul.homeFeed li a
{
    color:#000;
    text-decoration:none;
    margin:0 0 7px;
    display:block;
}

ul.homeFeed li a.nav
{
  padding-left:10px;
  background:url("/assets/images/sprMain.png") -4px -225px no-repeat;
}


/*
    BUTTONS & ACCORDION
*/
ul.buttons li.ios,
ul.buttons li.android,
ul.buttons li.blackberry,
ul.buttons li.facebook{background:url("/assets/images/sprMain.png") repeat-x 0 -100px;}
ul.buttons li.ios > a,
ul.buttons li.android > a,
ul.buttons li.blackberry > a,
ul.buttons li.facebook > a
{
    background:none;   
    padding-left:47px; 
    padding-bottom:7px;
    text-decoration:none;
}
ul.buttons li.ios span,
ul.buttons li.android span,
ul.buttons li.blackberry span,
ul.buttons li.facebook span
{
    color:#FFF;
    font-size:64%;
    font-weight:normal;
    float:none;
    display:block;
    margin:0;
    padding:0;
    white-space:nowrap;
}
ul.buttons li.blackberry a {background:url("/assets/images/sprMain.png") no-repeat 6px -278px;}
ul.buttons li.android a {background:url("/assets/images/sprMain.png") no-repeat 6px -278px;}
ul.buttons li.ios a {background:url("/assets/images/sprMain.png") no-repeat 6px -278px;}
ul.buttons li.facebook a{background:url("/assets/images/sprMain.png") no-repeat 6px -340px;}

#xsltsearch_navigation a { color: black }

#facebook-cta 
{ 
  background:url("/assets/images/sprMain.png") repeat-x 0 -175px; 
  border-radius: 4px;
  padding: 4px 0 4px 0;
  margin:0px;
}

#facebook-cta > a {
  background:none;   
    padding: 0px 0 5px 30px;
    text-decoration:none;
}

#facebook-cta span
{
    color:#FFF;
    font-weight: bold;
    float:none;
    white-space:nowrap;
}

#facebook-cta a
{
   background:url("/assets/images/sprMain.png") no-repeat 4px -496px;
}


div.contentHolder,
div.articlesHolder
{
    border:solid 3px #111;
    background:#FFF;
    border-radius:4px;
}

div.contentHolder div,
div.articlesHolder div
{
    margin:0 9px;
    padding:9px 0;    
    list-style:none;
    overflow:hidden;
 
}

div.articlesHolder hr,
div.contentHolder hr,
.mceContentBody hr
{
  color:#DDD;
  clear:both;
  background-color:#DDD;
  height:1px;
  border:none;
  margin: 10px 0px 10px 0px;
}

div.contentHolder div img,
.mceContentBody img
{
  float:left;
  margin:0px 5px 10px 0px;
}

div.contentHolder div .block,
.mceContentBody .block
{
  float:none;
  
}

div.contentHolder div h3,
.mceContentBody h3
{
  color:#286CB4;    
  margin: 5px 0px 5px 0px;
  font-size: 1.4em;
  font-weight: bold;
  clear:both;
}

div.contentHolder div h4,
.mceContentBody h4
{
  color:#286CB4;    
  margin-top:5px;
  margin-bottom:5px;
  font-weight: bold;
  clear:both;    
  
}

div.contentHolder div a,
.mceContentBody a
{
  color:#286CB4;
}
div.contentHolder div p,
.mceContentBody p
{
  margin:0px 0px 5px 0px;
}

div.contentHolder > div ul,
div.contentHolder > div ol,
.mceContentBody ul,
.mceContentBody ol
{
    float:left;
    margin:0 0 10px 0;
    padding:0;
}
div.contentHolder > div ul li,
div.contentHolder > div ol li,
.mceContentBody ul li,
.mceContentBody ol li
{
    border:0;
    padding:0 0 0 16px;
    margin:0 0 5px;
    background:url("/assets/images/bltRoundDark.png") 0 5px no-repeat;
    overflow:visible;
    list-style:none;
}
div.contentHolder div ol li,
.mceContentBody ol li
{
    list-style:decimal;
    background:none;
    margin-left:15px;
    padding:0;
}
div.contentHolder div ul li:last-child,
div.contentHolder div ol li:last-child,
.mceContentBody ul li:last-child,
.mceContentBody ol li:last-child
{
    margin-bottom:0;
    padding-bottom:0;    
}
div.contentHolder div ul li a,
div.contentHolder div ol li a,
.mceContentBody ul li a,
.mceContentBody ol li a
{
    font-size:1em;
    display:inline;
    font-weight:normal;
}
/*
div.contentHolder div
{
    margin:0 9px;
    padding:9px 0;    
    list-style:none;
    border-bottom:1px solid #DDD;
    overflow:hidden;
}
div.contentHolder > div:last-child
{
    border-bottom:0;   
    padding-bottom:5px; 
}
div.contentHolder > div ul,
div.contentHolder > div ol
{
    margin:0;
    padding:0;
}
div.contentHolder > div ul li,
div.contentHolder > div ol li
{
    border:0;
    padding:0 0 0 16px;
    margin:0 0 5px;
    background:url("/assets/images/bltRoundDark.png") 0 5px no-repeat;
    overflow:visible;
    list-style:none;
}
div.contentHolder div ol li
{
    list-style:decimal;
    background:none;
    margin-left:15px;
    padding:0;
}
div.contentHolder div ul li:last-child,
div.contentHolder div ol li:last-child
{
    margin-bottom:0;
    padding-bottom:0;    
}
div.contentHolder div ul li a,
div.contentHolder div ol li a
{
    font-size:1em;
    display:inline;
    font-weight:normal;
}

div.contentHolder div p{margin:0px;}*/
/*div.contentHolder div.imageLeft {padding-left:105px;}
div.contentHolder div.imageLeft img
{
    margin-left:-105px;
    float:left;
}
div.contentHolder div.imageLeft p a
{
    font-size:1.1em;
    margin-bottom:3px;    
}
div.contentHolder div.imageLeft p{margin:0;}
div.contentHolder div img{margin-right:5px;}
*/





/*
    EXTRAS
*/
div#joinFacebook
{
    background:#000 url("/assets/images/sprMain.png") 0 -530px repeat-x;    
    padding:0;
    border-radius:3px;
    font-weight:bold;
    display:inline-block;
    /*width: 118px;*/
}
div#joinFacebook a
{
    color:#FFF;
    display:block;
    padding:3px 5px 3px 28px;
    background:url("/assets/images/sprMain.png") 3px -494px no-repeat;    
}

/* POLL */
div.contentHolder div.poll
{
    margin:0 0 20px 0;
    padding:0;
    clear:both;
    float:none;
}

div.contentHolder div.poll ul li,
div.contentHolder div.poll ul li #image
{
  background:none;
  padding:0;
  margin:0;
  float:none;
  vertical-align:top;
}
div.contentHolder div.poll h3,
div.contentHolder div.poll ul li
{
  margin-bottom:10px;
}

div.contentHolder div.poll td #image
{
  max-width: 70px;
}

































































































































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h3 {

}

h4 {

}

.block {

}

